@import './variables.scss';
@import './mixin.scss';
@import './transition.scss';
@import './element-ui.scss';
@import './sidebar.scss';
@import './btn.scss';


body {
  height: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Arial, sans-serif;
}

label {
  font-weight: 700;
}

html {
  height: 100%;
  box-sizing: border-box;
}

#app {
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.no-padding {
  padding: 0px !important;
}

.padding-content {
  padding: 4px 0;
}

a:focus,
a:active {
  outline: none;
}

a,
a:focus,
a:hover {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}

div:focus {
  outline: none;
}

.fr {
  float: right;
}

.fl {
  float: left;
}

.pr-5 {
  padding-right: 5px;
}

.pl-5 {
  padding-left: 5px;
}

.block {
  display: block;
}

.pointer {
  cursor: pointer;
}

.inlineBlock {
  display: block;
}

.clearfix {
  &:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
  }
}
.clearfix{
  *zoom: 1; /*ie6清除浮动的方式 *号只有IE6-IE7执行，其他浏览器不执行*/
}


aside {
  background: #eef1f6;
  padding: 8px 24px;
  margin-bottom: 20px;
  border-radius: 2px;
  display: block;
  line-height: 32px;
  font-size: 16px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  color: #2c3e50;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  a {
    color: #337ab7;
    cursor: pointer;

    &:hover {
      color: rgb(32, 160, 255);
    }
  }
}

//main-container全局样式
.app-container {
  padding: 20px;
}

.components-container {
  margin: 30px 50px;
  position: relative;
}

.pagination-container {
  margin-top: 30px;
}

.text-center {
  text-align: center
}

.sub-navbar {
  height: 50px;
  line-height: 50px;
  position: relative;
  width: 100%;
  text-align: right;
  padding-right: 20px;
  transition: 600ms ease position;
  background: linear-gradient(90deg, rgba(32, 182, 249, 1) 0%, rgba(32, 182, 249, 1) 0%, rgba(33, 120, 241, 1) 100%, rgba(33, 120, 241, 1) 100%);

  .subtitle {
    font-size: 20px;
    color: #fff;
  }

  &.draft {
    background: #d0d0d0;
  }

  &.deleted {
    background: #d0d0d0;
  }
}

.link-type,
.link-type:focus {
  color: #337ab7;
  cursor: pointer;

  &:hover {
    color: rgb(32, 160, 255);
  }
}

.filter-container {
  padding-bottom: 10px;

  .filter-item {
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 10px;
  }
}

//refine vue-multiselect plugin
.multiselect {
  line-height: 16px;
}

.multiselect--active {
  z-index: 1000 !important;
}

.flex-sa {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.flex-sb {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.flex-sb-top {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
}

.flex-sb-start {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
}
.fold-meta {
  overflow: hidden;
  transition: height .2s;
}
.button-group {
  float: right;
  margin-bottom: 10px;
}
.clear {
  clear: both;
}
.el-tag {
  white-space: normal;
  height: auto;
}


/*滚动条整体样式 高宽分别对应横竖滚动条的尺寸*/
.addcustomer-user-left-group::-webkit-scrollbar,
.addcustomer-user-group::-webkit-scrollbar {
  width: 6px;
  height: 0;
}

/*滚动条里面小方块*/
.addcustomer-user-left-group::-webkit-scrollbar-thumb,
.addcustomer-user-group::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: #a8b4c4;
}

/*滚动条里面轨道*/
.addcustomer-user-left-group::-webkit-scrollbar-track,
.addcustomer-user-group::-webkit-scrollbar-track {
  border-radius: 10px;
  background: #efefef;
}
a.router-link-active span {
  color: rgb(64, 158, 255);
}


//.v-modal {
//  z-index: 2004 !important;
//}
//.el-dialog__wrapper {
//  z-index: 2005 !important;
//}

ul {
  margin-block-start: 0;
  margin-block-end: 0;
  padding: 0;

}
ul li {
  list-style: none;
  display: inline-block;
}

.red {
  color: #F73B3B;
}
.article {
  a {
    color: #555;
    transition: all .3s;
    &:hover {
      color: #3399CC;
    }
  }
  p {
    color: #666;
    margin-bottom: 0;
    text-indent: 28px;
    cursor: default;
  }
}

h1, h2, h4, h5, h6 {
  margin: 0;
  color: #404040;
  text-rendering: optimizelegibility;
}

h3 {
  color: #404040;
  text-rendering: optimizelegibility;
}


input:focus {
  outline: none;
}

.copyBox {
  position: absolute;
  top: 6px;
  right: 0;
  width: 24px;
  height: 24px;
  cursor: pointer;
  font-size: 14px;
  padding: 0;
  border: none;
  border-radius: 6px;
  color: #ccc;
  background: url('../assets/copy.png') no-repeat transparent;
  user-select: none;
  transition: opacity .2s ease-in-out,visibility .2s ease-in-out;
  z-index: 1;
}

.left {
  width: 780px;
}
.right {
  width: 400px;
}
